{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Inicio</title>
{% endblock %}
{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card-img-top" style="display: block; width: 50%; margin: auto;">
                <img class="d-block w-100" src="{% static 'imagen/hadware.jpg' %}" alt="First slide">
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-img-top" style="display: block; width: 50%; margin: auto;">
                <img class="d-block w-100" src="{% static 'imagen/redes.jpg' %}" alt="Second slide">
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-img-top" style="display: block; width: 50%; margin: auto;">
                <img class="d-block w-100" src="{% static 'imagen/software.jpg' %}" alt="Third slide">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!DOCTYPE html>
<html lang="es">

<body>
    <header>

    </header>

    <section>
        <h2>¿Qué es la Ciberseguridad?</h2>
        <p>La ciberseguridad es la práctica de proteger sistemas, redes y programas de ataques digitales. Estos ataques
            buscan acceder, cambiar o destruir información sensible; extender malware; o realizar otras acciones
            perjudiciales.</p>

        <h2>Principales Amenazas</h2>
        <ul>
            <li>Malware</li>
            <li>Phishing</li>
            <li>Ataques de fuerza bruta</li>
            <li>Vulnerabilidades de software</li>
        </ul>

        <h2>Consejos de Seguridad</h2>
        <ol>
            <li>Actualiza regularmente tus programas</li>
            <li>Usa contraseñas fuertes y cambia periódicamente</li>
            <li>Instala un software antivirus</li>
            <li>Sé consciente del phishing y no hagas clic en enlaces sospechosos</li>
        </ol>
    </section>

    <footer>
        <p>&copy; 2023 Página de Inicio - Ciberseguridad</p>
    </footer>
</body>

</html>


{% endblock %}