{% load static %}

<!--MATI: Acá no cambié absolutamente nada-->


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="{% url 'inicio' %}">
            <img src="{% static 'imagen/logo.jpg' %}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if user.is_authenticated %}
                <a class="navbar-brand" href="#">
                    <img src="{% static 'imagen/default.jpg' %}" alt="perfil" width="50" height="50"
                        class="rounded-circle flex-shrink-0">
                </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{user.username}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="{% url 'apps.usuarios:actualizar_usuario' user.pk %}">Modificar perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'apps.usuarios:cerrar_sesion' %}">Cerrar sesion</a>
                        </li>
                        {% if user.es_colaborador %}
                        <li><a class="dropdown-item" href="{% url 'apps.post:agregar_post' %}">Agregar post</a></li>
                        <li><a class="dropdown-item" href="{% url 'apps.post:agregar_categoria' %}">Agregar categoria</a></li>
                        <li><a class="dropdown-item" href="{% url 'apps.usuarios:listar_usuarios' %}">Listar usuarios</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'apps.usuarios:registrar' %}">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'apps.usuarios:iniciar_sesion' %}">Iniciar sesión</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'apps.post:listar_post' %}">Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}">Contactos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'acerca_de' %}">Acerca de</a>
                </li>
            </ul>
            <form class="d-flex" role="search" method="get" action="{% url 'apps.post:listar_post' %}">
                <input class="form-control me-2" type="search" placeholder="Buscar post por titulo" aria-label="Search"
                    name="buscador">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>