{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Listado de usuarios</title>
{% endblock %}

{% block navegation %}
{% include 'navegacion.html' %}
{% endblock %}

{% block content %}

<!--MATI: Acá agregué un div con las class="common_div contenido-fondo"-->
<div class="common_div contenido-fondo">

<!--MATI: esta parte no cambié nada-->
    <section data-bs-version="5.1" class="team2 cid-tffTM7TT6b">
        <h2 style="text-align:center; margin-top: 8%;"><strong>Usuarios:</strong></h2>
        <div class="container">
            {% for item in usuarios %}
            {% if user.es_colaborador %}
            <a class="btn btn-primary" style="width: 100%;"
                href="{% url 'apps.usuarios:eliminar_usuario' item.pk %}">Eliminar usuario:{{item.username}}</a>
            {% endif %}
            <div class="card">
                <div class="card-wrapper">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4">
                            <div class="image-wrapper">
                                <img src="{% static 'imagen/default.jpg' %}" alt="logo">
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="card-box">
                                <h6>
                                    <strong>Nombre: {{ item.nombre }}</strong>
                                </h6>
                                <h6>
                                    <strong>Apellido: {{ item.apellido }}</strong>
                                </h6>
                                <p>
                                    <i>Email: {{ item.email }}</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
<!--MATI: acá cierra el div que puse-->
</div>
{% endblock %}