{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>confirma eliminar</title>
{% endblock %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}

{% block content %}
<!--MATI: Acá agregué al form las class="common_div form_cardstyle"-->
<form method="post" class="common_div form_cardstyle">
    {% csrf_token %}
    <p>seguro que desea eliminar</p>
    <input type="submit" value="Si, eliminar">
    <a href="{% url 'inicio' %}"class="btn btn-primary">No, volver al inicio</a>
</form>
{% endblock %}