{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Listar post</title>
{% endblock %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}

{% block content %}

<!--ESTO VA PRIMERO QUE TODO-->

<div class="container-banner">
    <img src="{% static 'imagen/banner2.jpg' %}" alt="" style="filter: brightness(0.5);">
    <div id="centered-banner" style="position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                ;">
        <h1 style="font-size: 10em;">POSTS</h1>
    </div>
</div>

<!--MATI: Ubicá el resto dentro de este div-->

<div style="margin: 0%; padding: 1%;">

<!--MATI: borré el cartel de POST que hiciste-->

    <form method="GET" action="{% url 'apps.post:ordenar_por' %}">
        <button class="btn btn-secondary" name="orden" type="submit" value="fecha" style="margin-top: 25px;">Ordenar por
            fecha</button>
        <button class="btn btn-secondary" name="orden" type="submit" value="titulo" style="margin-top: 25px;">Ordenar por
            título</button>
    </form>
    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Post
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'apps.post:listar_post' %}">Todos</a></li>
            {% for i in categorias %}
            <li><a class="dropdown-item" href="{% url 'apps.post:listar_por_categoria' i.nombre %}">{{i.nombre}}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    <section data-bs-version="5.1" class="timeline3 cid-tf4QbpyVP7" id="timeline3-o">
        {% if post %}
        <div class="container-fluid" style="margin-top: 2%">
            <div class="row" style="margin-bottom: 2%;">
                {% for p in post %}
                <div class="col-md-4 mb-3">
                <!--MATI cambié el text-align a left-->
                    <div class="card" style="text-align: left;">
                        <div class="card-img-top" style="display: block; width: 70%; margin: auto;">
                            <img src="{{ p.imagen.url }}" class="card-img-top w-50" alt="{{p.titulo}}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{p.titulo}}</h5>
                            <p style='text-align: center;' class="mbr-timeline-date "><small
                                    class="text-body-secondary">{{p.fecha_agregado}}</small></p>
                            <p class="card-text">Si quiere leer mas acerca de este post, click en leer más</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Categoria: {{p.categoria}}</li>
                            <li class="list-group-item">Autor: {{p.autor}}</li>
                            <li class="list-group-item">Agregado por: {{p.colaborador}}</li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'apps.post:detalle_post' p.pk %}" class="btn btn-primary"
                                style="font-size: small;">Leer
                                más</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% include 'post/paginador.html' %}
                {% endif %}
            </div>
        </div>
    </section>

</div>



{% endblock %}